<div class="vh-100">
  <div class="control-section">
    <div>
      <ejs-treegrid
        #treegrid
        [contextMenuItems]="contextMenuItems"
        [dataSource]="tasks"
        childMapping="subtasks"
        height="100%"
        [treeColumnIndex]="0"
        [allowSelection]="true"
        [selectionSettings]="selectionSettings"
        [contextMenuItems]="contextMenuItems"
        (contextMenuClick)="contextMenuClick($event)"
        (rowSelected)="onSelected()"
      >
        <e-columns style="background-color: red">
          <e-column field="taskName" headerText="Task Name" width="200" textAlign="Left"></e-column>
          <e-column field="duration" headerText="Duration" width="100" textAlign="Right"></e-column>
          <e-column field="startDate" headerText="Start Date" width="90" format="yMd" textAlign="Right"> </e-column>
          <e-column field="endDate" headerText="End Date" width="90" format="yMd" textAlign="Right"> </e-column>
          <e-column field="progress" headerText="Progress" width="90" textAlign="Right"></e-column>
        </e-columns>
      </ejs-treegrid>
    </div>
  </div>
</div>
