<div class="vh-100">
    <div class="control-section">
        <div>
            <ejs-treegrid
                #treegrid
                [dataSource]="tasks"
                childMapping="subtasks"
                height="95vh"
                [treeColumnIndex]="1"
                [allowSelection]="true"
                [selectionSettings]="selectionSettings"
                [contextMenuItems]="contextMenuItems"
                [editSettings]="editing"
                [allowRowDragAndDrop]="true"
                (contextMenuClick)="contextMenuClick($event)"
                (rowSelected)="onSelected()"
                [allowSorting]="allowSorting"
                [allowFiltering]="allowFiltering"
                [frozenColumns]="frozenColumnIndex"
                (actionComplete)="actionComplete($event)"
                [enableInfiniteScrolling]="true"
            >
                <e-columns>
                    <e-column
                        field="taskID"
                        headerText="taskID"
                        isPrimaryKey="true"
                        width="0"
                        [hidden]="true"
                        textAlign="Right"
                    ></e-column>
                    <e-column field="name" headerText="Name" width="200" textAlign="Left"></e-column>
                    <e-column field="startDate" headerText="Start Date" width="100" format="yMd" textAlign="Right">
                    </e-column>
                    <e-column field="endDate" headerText="End Date" width="100" format="yMd" textAlign="Right">
                    </e-column>
                    <e-column field="progress" headerText="Progress" width="90" textAlign="Center"></e-column>
                    <e-column field="duration" headerText="Duration" width="90" textAlign="Center"></e-column>
                    <e-column field="priority" headerText="Priority" width="90" textAlign="Center"></e-column>
                    <e-column field="approved" headerText="Approved" width="90" textAlign="Center"></e-column>
                </e-columns>
            </ejs-treegrid>
        </div>
    </div>
</div>

<ejs-dialog
    id="styleDialog"
    #styleDialog
    header="Change Column Format"
    width="400px"
    showCloseIcon="true"
    height="350px"
    [visible]="visible"
>
    <form [formGroup]="styleForm" (ngSubmit)="changeCellStyle()">
        <div class="form-group">
            <label for="fontSize" class="my-2">Font Size</label>
            <input type="number" name="fontSize" class="form-control" formControlName="fontSize" />
        </div>
        <div class="form-group">
            <label for="textAlign" class="my-2">Cell Alignment</label>
            <select class="form-select" name="textAlign" formControlName="textAlign">
                <option value="left">Left</option>
                <option value="right">Right</option>
                <option value="center">Center</option>
                <option value="justify">Justify</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleColorInput" class="form-label my-2">Color</label>
            <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#563d7c"
                title="Choose your color"
                formControlName="color"
            />
        </div>

        <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
</ejs-dialog>
